image: docker:stable

stages:
  - dockerize
  - deploy

before_script:
  - export TAG="$CI_PIPELINE_ID-$CI_COMMIT_SHORT_SHA"


docker-build:
  stage: dockerize
  image: docker:29.0.0
  when: on_success
  tags: [crocos-docker]
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$TAG .
    - docker push $CI_REGISTRY_IMAGE:$TAG
    - docker rmi $CI_REGISTRY_IMAGE:$TAG


deploy-prod:
  stage: deploy
  variables:
    D_SERVER: "crocos@89.219.32.148"
  script:
#    - 'which ssh-agent || ( apk update && apk add openssh-client )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo "deploy to $D_SERVER"
    - ssh -p 22022 $D_SERVER "docker pull $CI_REGISTRY_IMAGE:$TAG"
    - ssh -p 22022 $D_SERVER "docker stop res2026-dev" || true
    - ssh -p 22022 $D_SERVER "docker rm res2026-dev" || true
    - ssh -p 22022 $D_SERVER "docker run -d --name res2026-dev -p 3000:3000 $CI_REGISTRY_IMAGE:$TAG
  # when: manual
  only:
    - main


