image: docker:stable

stages:
  - build
  - dockerize
  - deploy

before_script:
  - export TAG="$CI_PIPELINE_ID-$CI_COMMIT_SHORT_SHA"

docker-build:
  stage: dockerize
  image: docker:29.0.0
  when: on_success
  tags: [crocos-docker]
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$TAG .
    - docker push $CI_REGISTRY_IMAGE:$TAG
    - docker rmi $CI_REGISTRY_IMAGE:$TAG
