variables:
  GIT_STRATEGY: none
  SRV: '89.219.32.148'
  PORT: '22022'
  DEVBRANCH: 'develop'
  PRODBRANCH: 'main'
  DEVPATH: 'res2026.crocos.kz'
  PRODPATH: 'res2026.kz'
  NODE: 'node22'
  APPDEV: 'res2026'
  APPPROD: 'okay'
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2 


services:
  - docker:dind

.sshcon:
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo -n "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

stages:
  - dockerize
  - deploy-dev
  - deploy-prod


docker-build:
  stage: dockerize
  image: docker:28.0.0
  when: on_success
  tags: [dind]
  before_script:
    - export TAG="$CI_PIPELINE_ID-$CI_COMMIT_SHORT_SHA"
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build . -t $CI_REGISTRY_IMAGE:$TAG
    - docker push $CI_REGISTRY_IMAGE:$TAG
    - docker rmi $CI_REGISTRY_IMAGE:$TAG




deploy-dev:
  stage: deploy-dev
  extends: .sshcon
  needs: []
  tags:
    - shell
  rules:
    - if: $CI_COMMIT_BRANCH == $DEVBRANCH
  script:
    - ssh -p$PORT -tt crocos@$SRV "cd /home/crocos/http/www/$DEVPATH && git fetch --all --prune && git reset --hard origin/$DEVBRANCH && git clean -fd && docker exec $NODE bash -lc 'cd /var/www/$DEVPATH && export NEXT_PUBLIC_GIT_BRANCH=\"$CI_COMMIT_BRANCH\" && npm i && npm run build' && docker exec $NODE pm2 restart $APPDEV --update-env"

deploy-prod:
  stage: deploy-prod
  extends: .sshcon
  needs: []
  tags:
    - shell
  rules:
    - if: $CI_COMMIT_BRANCH == $PRODBRANCH
  script:
    - ssh -p$PORT -tt crocos@$SRV "cd /home/crocos/http/www/$PRODPATH && git fetch --all --prune && git reset --hard origin/$PRODBRANCH && git clean -fd && docker exec $NODE bash -lc 'cd /var/www/$PRODPATH && export NEXT_PUBLIC_GIT_BRANCH=\"$CI_COMMIT_BRANCH\" && npm i && npm run build' && docker exec $NODE pm2 restart $APPPROD --update-env"
