variables:
  GIT_STRATEGY: none
  SRV: '89.219.32.148'
  PORT: '22022'
  DEVBRANCH: 'develop'
  PRODBRANCH: 'main'
  DEVPATH: 'res2026.crocos.kz'
  PRODPATH: 'res2026.kz'
  NODE: 'node22'
  APPDEV: 'res2026'
  APPPROD: 'okay'

.sshcon:
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo -n "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

stages:
  - deploy-dev
  - deploy-prod

deploy-prod:
  stage: deploy-prod
  extends: .sshcon
  needs: []
  tags:
    - shell
  rules:
    - if: $CI_COMMIT_BRANCH == $PRODBRANCH
    - ssh -p$PORT -tt crocos@$SRV "source bbashrc && cd /home/crocos/http/www/$PRODPATH && git reset --hard HEAD && git pull origin $PRODBRANCH && pwd && docker exec $NODE bash -c 'cd /var/www/$DEVPATH && export NEXT_PUBLIC_GIT_BRANCH=\"$CI_COMMIT_BRANCH\" && npm install && npm run build'  && docker exec $NODE pm2 restart $APPPROD --update-env"

deploy-dev:
  stage: deploy-dev
  extends: .sshcon
  needs: []
  tags:
    - shell
  rules:
    - if: $CI_COMMIT_BRANCH == $PRODBRANCH
  script:
    - ssh -p$PORT -tt crocos@$SRV "source bbashrc && cd /home/crocos/http/www/$DEVPATH && git reset --hard HEAD && git pull origin $DEVBRANCH && pwd && docker exec $NODE bash -c 'cd /var/www/$DEVPATH && export NEXT_PUBLIC_GIT_BRANCH=\"$CI_COMMIT_BRANCH\" && npm install && npm run build' && docker exec $NODE pm2 restart $APPDEV --update-env"
